
<div class="row">
    <div class="col-xl-12">
        <!--begin::Advance Table Widget 10-->
        <div class="card card-custom gutter-b card-stretch">
            <!--begin::Header-->
            <div class="card-header border-0 py-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bolder text-dark">@Html.Raw("Membership Cards")</span>
                </h3>
                <div class="card-toolbar">
                    <a href="/@Html.Raw("MemberShip")/InsertOrUpdatePage" class="btn btn-light-primary font-weight-bolder btn-sm">@Html.Raw("Add New Card".Trans())</a>
                </div>
            </div>
            <!--end::Header-->
            <div class="card-body py-0">
                <div class="table-responsive">
                    <table id="dt_MemberShip" class="table table-bordered table-hover table-checkable">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>


<div class="row">
    <div class="col-xl-12">
        <!--begin::Advance Table Widget 10-->
        <div class="card card-custom gutter-b card-stretch">
            <!--begin::Header-->
            <div class="card-header border-0 py-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bolder text-dark">@Html.Raw("Card Sales")</span>
                </h3>
            </div>
            <!--end::Header-->
            <div class="card-body py-0">
                <div class="table-responsive">
                    <table id="dt_UserCard" class="table table-bordered table-hover table-checkable">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>



<script>
    $(function () {

        getGrid();

        function getGrid() {
            var columns = [];
            columns.push({ "data": "Desc", text: "NAME" });
            columns.push({ "data": "PriceEuro", text: "Price Euro" });
            columns.push({ "data": "PriceTR", text: "Price TL" });
            columns.push({ "data": "ValidMonths", text: "VALIDITY (MONTHS)" });
            columns.push({ "data": "SOLD", text: "#SOLD" });
            columns.push({ "data": "CATEGORIES", text: "CATEGORIES" });

            columns.push({ "data": "Detail", text: "Detail" });

            $.each(columns, function (i, item) {
                $('#dt_MemberShip' + ' thead tr').append('<td>' + item.text + '</td>');
            });

            var table = $('#dt_MemberShip').DataTable({
                "language": { "url": "/Base/getDtLang" },
                "ajax": {
                    "url": '/MemberShip/GetPaging',
                    "type": "POST",
                    "datatype": "json",
                    "data": function (searchModel) {
                        $('#dt_MemberShip').LoadingOverlay("show");
                        searchModel.pagingSearchParam = 'Desc';

                    },
                    "dataSrc": function (json) {
                        return_data = new Array();
                        var data = json.data;
                        $.each(data, function (i, row) {
                            var detail = '<a class="btn btn-sm btn-clean btn-icon btn-icon-md" href="/MemberShip/InsertOrUpdatePage?id=' + row.Id + '" title="EDIT"><i class="la la-edit"></i></a>';

                            detail += '<a dataid="' + row.Id + '" class="btnDelete btn btn-sm btn-danger btn-icon btn-icon-md" href="#" title="DELETE"><i class="la la-remove"></i></a>';
                            return_data.push({
                                //'Desc': '<img style="width:50px;height:40px;" src="' + toStr(ImageUrlFull + row.ImageUrl) + '" />' + ' ' + toStr(row.Name),
                                'Desc':  toStr(row.Name),
                                'PriceEuro': toStr(row.PriceEuro),
                                'PriceTR': toStr(row.PriceTR),
                                'ValidMonths': toStr(row.ValidMonths),
                                'SOLD': row.Id,
                                'CATEGORIES': toStr(row.BusinessTypeMemberShipNames),
                                'Detail': detail,
                            });

                        });
                        $('#dt_MemberShip').LoadingOverlay("hide");
                        return return_data;
                    }
                },
                "fnDrawCallback": function (settings, json) {


                    $('.dt-buttons').css('float', 'right');
                    $('.dt-buttons').css('margin-left', '20px');
                    $('.dt-buttons').css('margin-top', '16px');

                    $(table).LoadingOverlay("hide");

                },
                "destroy": true,
                "caseInsensitive": true,
                "serverSide": true,
                
                "pageLength": 10,
                "DisplayLength": 10,
                "lengthMenu": [[10, 25, 100, 1000, 2500, 5000], [10, 25, 100, 1000, 2500, 5000]],
                "lengthChange": true,
                "processing": true,
                "order": [[0, "desc"]],
                "columns": columns,

            });




        }



        getGridUserCard();

        function getGridUserCard() {
            var columns = [];
            columns.push({ "data": "USER", text: "USER" });
            columns.push({ "data": "ORDEREDCARD", text: "ORDERED CARD" });
            columns.push({ "data": "SOURCE", text: "SOURCE" });
            columns.push({ "data": "AMOUNT", text: "AMOUNT" });
            columns.push({ "data": "ORDERID", text: "ORDER ID" });


            $.each(columns, function (i, item) {
                $('#dt_UserCard' + ' thead tr').append('<td>' + item.text + '</td>');
            });

            var table = $('#dt_UserCard').DataTable({
                "language": { "url": "/Base/getDtLang" },
                "ajax": {
                    "url": '/UserCard/GetPaging',
                    "type": "POST",
                    "datatype": "json",
                    "data": function (searchModel) {
                        $('#dt_UserCard').LoadingOverlay("show");


                    },
                    "dataSrc": function (json) {
                        return_data = new Array();
                        var data = json.data;
                        $.each(data, function (i, row) {
                            return_data.push({
                                'USER': toStr(row.User.Name),

                                'ORDEREDCARD': '<img style="width:50px;height:40px;" src="' + toStr(ImageUrlFull + row.MemberShip.ImageUrl) + '" />' + ' ' + toStr(row.MemberShip.Desc) +
                                    '<br>' + moment(row.CreaDate).format('DD/MM/YYYY hh:mm'),
                                'SOURCE': 'Mobile App',
                                'AMOUNT': '+ ' + toStr(row.MemberShip.Price) + ' €',
                                'ORDERID': toStr(row.Id),
                            });

                        });
                        $('#dt_UserCard').LoadingOverlay("hide");
                        return return_data;
                    }
                },
                "fnDrawCallback": function (settings, json) {


                    $('.dt-buttons').css('float', 'right');
                    $('.dt-buttons').css('margin-left', '20px');
                    $('.dt-buttons').css('margin-top', '16px');

                    $(table).LoadingOverlay("hide");

                },
                "destroy": true,
                "caseInsensitive": true,
                "serverSide": true,
                
                "pageLength": 10,
                "DisplayLength": 10,
                "lengthMenu": [[10, 25, 100, 1000, 2500, 5000], [10, 25, 100, 1000, 2500, 5000]],
                "lengthChange": true,
                "processing": true,
                "order": [[0, "desc"]],
                "columns": columns,

            });




        }



    });
</script>