
<div class="row">
    <div class="col-xl-12">
        <!--begin::Advance Table Widget 10-->
        <div class="card card-custom gutter-b card-stretch">
            <!--begin::Header-->
            <div class="card-header border-0 py-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bolder text-dark">@Html.Raw("Partners")</span>
                </h3>
                <div class="card-toolbar">
                    <a href="/@Html.Raw("Partner")/InsertOrUpdatePage" class="btn btn-light-primary font-weight-bolder btn-sm">@Html.Raw("Add New Partner".Trans())</a>
                </div>
            </div>
            <!--end::Header-->
            <div class="card-body py-0">
                <div class="table-responsive">
                    <table id="dt_Partner" class="table table-bordered table-hover table-checkable">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

           
        </div>
    </div>

</div>



<script>
    $(function () {

        getGrid();

        function getGrid() {
            var columns = [];
            columns.push({ "data": "CreaDate", text: "DATE REGISTERED" });
            columns.push({ "data": "BusinessLegalName", text: "BUSINESSLEGALNAME" });
            columns.push({ "data": "ExecutiveName", text: "EXECUTIVE" });
            columns.push({ "data": "CATEGORIES", text: "CATEGORIES" });
            columns.push({ "data": "Mail", text: "E-MAIL" });
            columns.push({ "data": "IsStatus", text: "STATUS" });
            columns.push({ "data": "ACTIONS", text: "Detail" });

            $.each(columns, function (i, item) {
                $('#dt_Partner' + ' thead tr').append('<td>' + item.text + '</td>');
            });

            var table = $('#dt_Partner').DataTable({
                "language": { "url": "/Base/getDtLang" },
                "ajax": {
                    "url": '/Partner/GetPaging',
                    "type": "POST",
                    "datatype": "json",
                    "data": function (searchModel) {
                        $('#dt_Partner').LoadingOverlay("show");
                        searchModel.pagingSearchParam = 'Name';

                    },
                    "dataSrc": function (json) {
                        return_data = new Array();
                        var data = json.data;
                        $.each(data, function (i, row) {

                            var detail = '<a class="btn btn-sm btn-clean btn-icon btn-icon-md" href="/Partner/InsertOrUpdatePage?id=' + row.Id + '" title="Edit"><i class="la la-edit"></i></a>';
                            return_data.push({
                                'CreaDate': moment(row.CreaDate).format('DD/MM/YYYY'),
                                'BusinessLegalName': toStr(row.BusinessLegalName),
                                'ExecutiveName': toStr(row.ExecutiveName),
                                'CATEGORIES': toStr(row.BusinessTypePartnerNames),
                                'Mail': toStr(row.Mail),
                                'IsStatus': row.IsStateName,
                                'ACTIONS': detail,
                            });

                        });
                        $('#dt_Partner').LoadingOverlay("hide");
                        return return_data;
                    }
                },
                "fnDrawCallback": function (settings, json) {


                    $('.dt-buttons').css('float', 'right');
                    $('.dt-buttons').css('margin-left', '20px');
                    $('.dt-buttons').css('margin-top', '16px');

                    $(table).LoadingOverlay("hide");

                },
                "destroy": true,
                "caseInsensitive": true,
                "serverSide": true,
                
                "pageLength": 10,
                "DisplayLength": 10,
                "lengthMenu": [[10, 25, 100, 1000, 2500, 5000], [10, 25, 100, 1000, 2500, 5000]],
                "lengthChange": true,
                "processing": true,
                "order": [[0, "desc"]],
                "columns": columns,

            });




        }


    });
</script>